/* Contenedor principal dividido en dos partes */
.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Color de fondo neutro */
  background-image: url('IA.png');
      background-size: cover; /* Asegura que cubra todo el fondo */
      background-position: center; /* Centra la imagen */
      background-repeat: no-repeat; /* No repite la imagen */
      background-attachment: fixed
}




.login-form {
  flex: 1;
  background-color: transparent;
  padding: 40px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  right: 150px; 
  background-color: transparent;
  margin-left: 24px;
  transform: scale(1.4);
  
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #555;
}
